.card-container {
  border: 1px solid black;
  border-radius: 6px;
  max-width: 300px;
  padding: 1rem;
  min-height: 300px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  img {
    width: 100%;
  }

  .title-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
