.header {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  padding: 20px 30px 0 30px;
}

#spinner {
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
}

.main-container {
  padding: 20px 30px;
}

