#auth-page {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
  }
  
  button {
    border-radius: 0.5rem;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    padding: 0.5rem 1rem;
    text-align: center;
    vertical-align: middle;
    min-width: 300px;
  
    &.success {
      background-color: #2ea44e;
      border: 1px solid #2ea44e;
    }
  
    &.error {
      background-color: #fe4641;
      border: 1px solid #fe4641;
    }
  
    &.remember {
      background-color: #0065ff;
      border: 1px solid #0065ff;
    }
  }
  
  .remember-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  
    .remember-me {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  